# Config file for Galaxy S22 (r0s_eur_openx)
# This is merged with s5e9925_defconfig on build

# Device
CONFIG_MACH_R0S_EUR_OPENX=y

# NFC - NXP
CONFIG_NXP_NFC=m
CONFIG_NFC_SN2XX=y
CONFIG_NFC_SN2XX_ESE_SUPPORT=y
CONFIG_ESE_USE_TZ_API=y
CONFIG_SEC_NFC_LOGGER_NXP=y
CONFIG_SEC_NFC_WAKELOCK_METHOD_NXP=0
CONFIG_MAKE_NODE_USING_PLATFORM_DEVICE=y
CONFIG_SEC_NFC_LOGGER_ADD_ACPM_LOG_NXP=y
CONFIG_SEC_NFC_LOGGER_RTC_REG_ADDR_NXP=0x15920090

# Miscellaneous
CONFIG_DEBUG_GPIO_SETTING=y
CONFIG_NL80211_TESTMODE=y
CONFIG_QCOM_QMI_HELPERS=m
CONFIG_MHI_BUS=m
CONFIG_MHI_BUS_MISC=y
CONFIG_MHI_BUS_DEBUG=y
CONFIG_IPC_LOG_MINIDUMP_BUFFERS=0
CONFIG_GENERIC_TRACER=y
CONFIG_CLK_ACPM_INIT=y

# WLAN - Qualcomm
CONFIG_QCA_CLD_WLAN=m
CONFIG_R11S_WIRELESS=y

# WLAN - CNSS
CONFIG_CLD_LL_CORE=y
CONFIG_CNSS2=m
CONFIG_CNSS2_QMI=y
CONFIG_BUS_AUTO_SUSPEND=y
CONFIG_CNSS_QCA6490=y
CONFIG_SEC_SS_CNSS_FEATURE_SYSFS=y
CONFIG_CNSS_UTILS=m
CONFIG_CNSS_QMI_SVC=m
CONFIG_CNSS_PLAT_IPC_QMI_SVC=m
CONFIG_CNSS_GENL=m
CONFIG_WCNSS_MEM_PRE_ALLOC=m

# WLAN - QRTR
CONFIG_QRTR=m
CONFIG_QRTR_NODE_ID=1
CONFIG_QRTR_WAKEUP_MS=0
CONFIG_QRTR_MHI=m

# Bluetooth - Qualcomm
CONFIG_BT_QCA=y
CONFIG_MSM_BT_POWER=m

# Camera
CONFIG_CAMERA_RSV_V01=y
CONFIG_CAMERA_CIS_2LA_OBJ=m
CONFIG_CAMERA_CIS_2LD_OBJ=m
CONFIG_CAMERA_CIS_IMX374_OBJ=m
CONFIG_CAMERA_CIS_3K1_OBJ=m

# Camera - Flash
CONFIG_LEDS_S2MPB02=m
CONFIG_LEDS_S2MPB02_FLASH=m
CONFIG_CAMERA_FLASH_S2MPB02_I2C_OBJ=m

# Charger - PCA9481
CONFIG_CHARGER_PCA9481=y

# Wireless Charger
CONFIG_WIRELESS_CHARGER_P9320=y
CONFIG_WIRELESS_CHARGER_S2MIW04=y
CONFIG_SB_MFC=m

# Sound
CONFIG_SND_SOC_SAMSUNG_EXYNOS_CS35L41_I2C=m
CONFIG_SND_SOC_SAMSUNG_RAINBOW_PRINCE=m
CONFIG_SND_SOC_WM_ADSP=m
CONFIG_SND_SOC_CIRRUS_AMP=m
CONFIG_SND_SOC_CS35L41=m
CONFIG_SND_SOC_CS35L41_I2C=m
CONFIG_SND_SOC_CS40L26=m

# Sensors - SSP
CONFIG_SENSORS_SSP=y
CONFIG_SENSORS_DYNAMIC_SENSORLIST=y
CONFIG_SENSORS_ICM42632M=y
CONFIG_SENSORS_LSM6DSO=y
CONFIG_SENSORS_STK33910=y
CONFIG_SENSORS_STK33911=y
CONFIG_SENSORS_STK33915=y
CONFIG_SENSORS_TMD4912=y
CONFIG_SENSORS_TMD4907=y
CONFIG_SENSORS_AK09918C=y
CONFIG_SENSORS_LPS22H=y
CONFIG_SENSORS_LPS25H=y
CONFIG_FLIP_COVER_DETECTOR_NOTIFIER=y
CONFIG_SENSORS_ISG6320=m
CONFIG_SENSORS_SUPPORT_SLSI=y

# Fingerprint
CONFIG_SENSORS_QBT2000=m

# Firmware - Cirrus
CONFIG_CIRRUS_FIRMWARE_CL_DSP=m

# Firmware - MAX77705
CONFIG_MAX77705_USE_EXTRA_FW=y

# Haptics - CS40L26
CONFIG_INPUT_CS40L26_I2C=m
CONFIG_CS40L26_SAMSUNG_FEATURE=y

# Panel - DECON
CONFIG_MCD_PANEL=m
CONFIG_EXYNOS_DECON_MDNIE_LITE=y
CONFIG_EXYNOS_DECON_LCD_SYSFS=y
CONFIG_EXYNOS_DECON_LCD_COPR=y
CONFIG_PANEL_AID_DIMMING=y
CONFIG_SUPPORT_DSU=y
CONFIG_MCD_PANEL_LPM=y
CONFIG_EXTEND_LIVE_CLOCK=y
CONFIG_SUPPORT_AOD_BL=y
CONFIG_SUPPORT_MAFPC=y
CONFIG_SUPPORT_GRAM_CHECKSUM=y
CONFIG_SUPPORT_CCD_TEST=y
CONFIG_SUPPORT_SSR_TEST=y
CONFIG_SUPPORT_ECC_TEST=y
CONFIG_DISPLAY_USE_INFO=y
CONFIG_PANEL_NOTIFY=y
CONFIG_PANEL_FREQ_HOP=y
CONFIG_PANEL_DISPLAY_MODE=y
CONFIG_EXYNOS_LCD_ENG=y
CONFIG_PANEL_DEBUG=y
CONFIG_SUPPORT_PANEL_DECODER_TEST=y
CONFIG_EVASION_DISP_DET=y

# Panel - S6E3FAC
CONFIG_EXYNOS_DECON_LCD_S6E3FAC=m

# Touchscreen - STM
CONFIG_TOUCHSCREEN_STM_SPI=m
