# Config file for Galaxy S23 FE (r11s_eur_openx)(r11s_kor_singlex)
# This is merged with s5e9925_defconfig on build

# Device
CONFIG_MACH_R11S_EUR_OPENX=y
CONFIG_MACH_R11S_KOR_SINGLEX=y

# NFC - SLSI
CONFIG_SEC_NFC=y
CONFIG_SEC_NFC_PRODUCT_N5=y
CONFIG_SEC_NFC_IF_I2C=y
CONFIG_SAMSUNG_NFC=m
CONFIG_ESE_P3_LSI=y
CONFIG_ESE_COLDRESET=y
CONFIG_MAKE_NODE_USING_PLATFORM_DEVICE=y
CONFIG_SEC_NFC_LOGGER=y
CONFIG_SEC_NFC_WAKELOCK_METHOD=2
CONFIG_SEC_NFC_LOGGER_ADD_ACPM_LOG=y
CONFIG_SEC_NFC_LOGGER_RTC_REG_ADDR=0x15920090

# Miscellaneous
CONFIG_NL80211_TESTMODE=y
CONFIG_QCOM_QMI_HELPERS=m
CONFIG_MHI_BUS=m
CONFIG_MHI_BUS_MISC=y
CONFIG_MHI_BUS_DEBUG=y

# WLAN - Qualcomm
CONFIG_QCA_CLD_WLAN=m
CONFIG_R11S_WIRELESS=y

# WLAN - CNSS
CONFIG_CLD_LL_CORE=y
CONFIG_CNSS2=m
CONFIG_CNSS2_QMI=y
CONFIG_BUS_AUTO_SUSPEND=y
CONFIG_CNSS_QCA6490=y
CONFIG_SEC_SS_CNSS_FEATURE_SYSFS=y
CONFIG_CNSS_UTILS=m
CONFIG_CNSS_QMI_SVC=m
CONFIG_CNSS_PLAT_IPC_QMI_SVC=m
CONFIG_CNSS_GENL=m
CONFIG_WCNSS_MEM_PRE_ALLOC=m

# WLAN - QRTR
CONFIG_QRTR=m
CONFIG_QRTR_NODE_ID=1
CONFIG_QRTR_WAKEUP_MS=0
CONFIG_QRTR_MHI=m

# Bluetooth - Qualcomm
CONFIG_BT_QCA=y
CONFIG_MSM_BT_POWER=m

# Camera
CONFIG_CAMERA_RSW_V11=y
CONFIG_OIS_HALL_DATA_PROVIDER=y
CONFIG_CAMERA_CIS_3L6_OBJ=m
CONFIG_CAMERA_CIS_HI847_OBJ=m

# Camera - Flash
CONFIG_CAMERA_FLASH_AW36518_OBJ=m
CONFIG_LEDS_AW36518_FLASH=m

# Charger - PCA9482
CONFIG_CHARGER_PCA9482=m

# Wireless Charger - R11S_KOR_SINGLEX
CONFIG_WIRELESS_CHARGER_CPS4038=m

# Wireless Charger - R11S_EUR_OPENX
CONFIG_WIRELESS_CHARGER_P9320=m
CONFIG_WIRELESS_CHARGER_S2MIW04=m
CONFIG_SB_MFC=m

# Sound
CONFIG_SND_SOC_SAMSUNG_EXYNOS_TFA9878=m
CONFIG_SND_SOC_SAMSUNG_EXYNOS9925_TFA=m
CONFIG_SEC_SND_SYNCHRONIZED_IPC=m
CONFIG_SND_SOC_TPLG_USAGE_CHECK=y
CONFIG_SND_SOC_TFA9878=m
CONFIG_PLATFORM_EXYNOS=y
CONFIG_TFA_STEREO_NODE=y

# Sensors - SHUB
CONFIG_SHUB=m
CONFIG_SHUB_PM_WAKEUP_LINUX_VER_5_4=y
CONFIG_SHUB_MODULE=y
CONFIG_SHUB_LSI=y

# Fingerprint
CONFIG_SENSORS_EL7XX=m

# Haptics - AW8622X
CONFIG_INPUT_AW8622X_HAPTIC=m
CONFIG_AW8622X_SAMSUNG_FEATURE=y

# Panel - USDM
CONFIG_USDM_PANEL_OLED_COMMON=m
CONFIG_USDM_PANEL=m
CONFIG_USDM_MDNIE=y
CONFIG_USDM_PANEL_SYSFS=y
CONFIG_USDM_PANEL_DIMMING=y
CONFIG_USDM_PANEL_LPM=y
CONFIG_USDM_PANEL_SELF_DISPLAY=y
CONFIG_USDM_PANEL_AOD_BL=y
CONFIG_USDM_FACTORY_GCT_TEST=y
CONFIG_USDM_FACTORY_CCD_TEST=y
CONFIG_USDM_FACTORY_ECC_TEST=y
CONFIG_USDM_PANEL_DPUI=y
CONFIG_USDM_PANEL_DISPLAY_MODE=y
CONFIG_USDM_PANEL_DEBUG=y
CONFIG_USDM_PANEL_MASK_LAYER=y
CONFIG_USDM_FACTORY_DSC_CRC_TEST=y
CONFIG_USDM_PANEL_RCD=y
CONFIG_USDM_PANEL_ID_READ_REG_04=y
CONFIG_USDM_PANEL_ID_READ_BY_HSDT=y
CONFIG_USDM_PANEL_JSON=y
CONFIG_USDM_ADAPTIVE_MIPI=y

# Panel - Notifier
CONFIG_SEC_PANEL_NOTIFIER_V2=m

# Panel - S6E3FC3
CONFIG_USDM_PANEL_S6E3FC3=m

# Panel - S6E3FC5
CONFIG_USDM_PANEL_S6E3FC5=m

# Touchscreen - Synaptics
CONFIG_TOUCHSCREEN_SYNAPTICS_I2C=m

# Touchscreen - STM
CONFIG_TOUCHSCREEN_STM=m
